<h1>Checkout!</h1>
<p>Upgrade now to have unlimited projects and unlimited artifacts to store. Manage all of your projects now with project management service.</p>
<ul>
    <strong>Subscribe now for $19.99 a month.</strong>
</ul>
<%= render partial: 'pay/stripe/checkout_button', locals: {
    session: @checkout_session,
    title: "Buy now"
} %>